@{
    ViewData["Title"] = "Home Page";
}

@* <div class="container-fluid">
    <h1 class="">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@


@* <section class="bg-dark text-light p-0 p-lg-0 p-md-0 pt-lg-5 mt-md-0 text-center text-sm-start" style="background-image: linear-gradient(to bottom, #FD7E7B, #FD4B47)">
    <div class="container" style="padding-bottom: 100px; padding-top:70px; ">
        <div class="d-sm-flex align-items-center justify-content-between">
            <!-- align-items-center = make text center-->
            <div>
                <h1>
                    สมัครเป็นสมาชิก<br data-v-cd91a40a />
                    สเวนเซ่นส์วันนี้
                    พร้อมรับสิทธิพิเศษมากมายรอคุณ
                    อยู่ที่นี่
                </h1>
                <h3>พิเศษสุดๆ! สำหรับสมาชิกสเวนเซ่นส์ ยิ่งกิน ยิ่งได้ ยิ่งคุ้ม ใครๆ ก็สมัครได้ ใช้ง่ายสะดวกสบายพร้อมสิทธิประโยชน์มากมายเพื่อคนสำคัญเช่นคุณ รอไม่ได้แล้ว สมัครเลย</h3>
                <button value="Order" class="btn btn-primary mt-5">asdf</button>
            </div>
            <img class="img-fluid w-50 d-none d-sm-block edit_img rounded-circle" alt="" src="~/Images/banner-image.svg" /> <!-- d = display: -->
        </div>
    </div>
</section> *@



<div style="margin-bottom: 0px">
    <div class="banner-wrap" data-v-cd91a40a>
        <div class="container-fluid" data-v-cd91a40a>
            <div class="banner-row-wrap ant-row-flex ant-row-flex-middle" style="margin-left:-15px;margin-right:-15px;" data-v-cd91a40a>
                <div class="column-content ant-col ant-col-md-20 ant-col-lg-12" style="padding-left:15px;padding-right:15px;" data-v-cd91a40a>
                    <div class="banenr-content" data-v-cd91a40a>
                        <h1 class="heading" data-v-cd91a40a>
                            สมัครเป็นสมาชิก<br data-v-cd91a40a>สเวนเซ่นส์วันนี้ พร้อมรับสิทธิพิเศษมากมายรอคุณอยู่ที่นี่
                        </h1>
                        <div class="content" data-v-cd91a40a>
                            <p data-v-cd91a40a>
                                พิเศษสุดๆ! สำหรับสมาชิกสเวนเซ่นส์ ยิ่งกิน ยิ่งได้ ยิ่งคุ้ม ใครๆ ก็สมัครได้ ใช้ง่ายสะดวกสบายพร้อมสิทธิประโยชน์มากมายเพื่อคนสำคัญเช่นคุณ รอไม่ได้แล้ว สมัครเลย
                            </p>
                        </div>
                        <div tyle="flex" class="ant-row" data-v-cd91a40a>


                            <div class="ant-col ant-col-sm-24 ant-col-md-12 ant-col-lg-12" data-v-cd91a40a>
                                <div class="action to-delivery-wrapper" data-v-cd91a40a>
                                    <a href="/en/delivery" class="wrap image-btn-en" data-v-cd91a40a>
                                        <img src="/Images/EN_normal.svg" />
                                    </a>
                                </div>
                            </div>
                            <div class="ant-col ant-col-sm-24 ant-col-md-12 ant-col-lg-12" data-v-cd91a40a></div>
                            @*  <a href="#">
                            <img class="mt-5" src="/Images/EN_normal.svg" />
                            </a> *@
                        </div>
                    </div>
                </div>
                <div class="column-image ant-col ant-col-md-20 ant-col-lg-12" style="padding-left:15px;padding-right:15px;" data-v-cd91a40a>
                    <div class="banner-image" data-v-cd91a40a><img src="/images/banner-image.svg" alt data-v-cd91a40a></div>
                </div>
            </div>
        </div>
    </div>


    <div class="sw-section section-deal mt-5" data-v-cd91a40a>
        <div class="container" data-v-cd91a40a>
            <div class="section-header" data-v-cd91a40a>
                <h3 class="section-heading has-action fw-bold" data-v-cd91a40a>Super Deal</h3>
            </div>
            <div class="btn btn-group gap-3">
                <div class="" data-v-cd91a40a>
                    <img src="/Images/popular1.png" class="m-0" style="width:350px; height:200px;" alt="Description of the image">
                </div>
                <div class="" data-v-cd91a40a>
                    <img src="/Images/popular2.png" class="m-0" style="width:350px; height:200px;" alt="Description of the image">
                </div>
            </div>
        </div>
    </div>
    <div class="sw-section section-reward" data-v-cd91a40a>
        <div class="container" data-v-cd91a40a>
            <div class="section-header" data-v-cd91a40a>
                <h3 class="section-heading has-action fw-bold mt-5" data-v-cd91a40a>
                    News
                </h3>
            </div>
        </div>
    </div>

</div>

<div class="page-bottom" style="background-image: url(../../wwwroot/Images/bg-page-bottom.jpg)" data-v-cd91a40a>
    <div class="container" data-v-cd91a40a>
        <div class="page-bottom-row-wrap ant-row-flex ant-row-flex-middle" data-v-cd91a40a>
            <div class="column-image ant-col ant-col-md-10 ant-col-md-offset-2" data-v-cd91a40a>
                <div class="app-screen" data-v-cd91a40a><img src="/Images/app-screen-webp.webp" alt data-v-cd91a40a></div>
            </div>
            <div class="column-content ant-col ant-col-md-9 ant-col-md-offset-1" data-v-cd91a40a>
                <div class="app-download" data-v-cd91a40a>
                    <h2 class="heading" data-v-cd91a40a>Download on</h2>
                    <div class="download-list" data-v-cd91a40a>
                        <div class="ant-row" style="margin-left:-12px;margin-right:-12px;" data-v-cd91a40a>
                            <div class="ant-col ant-col-12" style="padding-left:12px;padding-right:12px;" data-v-cd91a40a>
                                <div class="download-item" data-v-cd91a40a><a href="https://play.google.com/store/apps/details?id=com.swensens1112.swensens" target="_blank" data-v-cd91a40a><img src="/Images/google-play.png" alt data-v-cd91a40a></a></div>
                            </div>
                            <div class="ant-col ant-col-12" style="padding-left:12px;padding-right:12px;" data-v-cd91a40a>
                                <div class="download-item" data-v-cd91a40a><a href="https://apps.apple.com/th/app/swensens/id1553427962" target="_blank" data-v-cd91a40a><img src="/Images/app-store.png" alt data-v-cd91a40a></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*     <div class="sw-section section-reward" data-v-cd91a40a>
            <div class="container" data-v-cd91a40a>
                <div class="section-header" data-v-cd91a40a>
                    <h2 class="section-heading has-action" data-v-cd91a40a>
                        News
                    </h2>
                </div>
            </div>
            <div class="reward-carousel" data-v-cd91a40a>
                <div class="container" data-v-cd91a40a>
                    <div class="ant-spin ant-spin-spinning" data-v-cd91a40a><i aria-label="icon: loading" class="anticon anticon-loading ant-spin-dot" style="font-size:24px;" data-v-cd91a40a><svg viewBox="0 0 1024 1024" focusable="false" data-icon="loading" width="1em" height="1em" fill="currentColor" aria-hidden="true" class="anticon-spin"><path d="M988 548c-19.9 0-36-16.1-36-36 0-59.4-11.6-117-34.6-171.3a440.45 440.45 0 0 0-94.3-139.9 437.71 437.71 0 0 0-139.9-94.3C629 83.6 571.4 72 512 72c-19.9 0-36-16.1-36-36s16.1-36 36-36c69.1 0 136.2 13.5 199.3 40.3C772.3 66 827 103 874 150c47 47 83.9 101.8 109.7 162.7 26.7 63.1 40.2 130.2 40.2 199.3.1 19.9-16 36-35.9 36z"></path></svg></i></div>
                </div>
            </div>
        </div> *@


</div>

